
:root {
    --cor-de-fundo: #0b0c1b;
    --cor-de-fundo-texto: #231b3b;
    --cor-destaque-texto: #8449a9;
    --cor-background-imagem: #522c6a;
    --cor-texto: #bab8c8;
    --cor-titulo: #ffffff;
    --fonte-primaria: 'Inter';
    --fonte-secundaria: 'Lexend Deca';

}

* {
    margin: 0;
    padding: 0;
}


body {
    background-color: var(--cor-de-fundo);
    padding: 10em 7.5em 10em 7.5em;
}

.principal {
    background-color: var(--cor-de-fundo-texto);;
    background-repeat: no-repeat;
    background-size: contain;
    align-items: center;
    text-align: center;
    border-radius: 10px;
}

.container {
    height: 100vh;
    display:grid;
    grid-template-columns:50% 50%;
}
.container__caixa {
    padding: 2em 1.5em 2em 1.5em;
}

.titulo__principal {
    color: var(--cor-titulo);
    font-size: 2em;
    font-family: var(--fonte-primaria);
    font-weight: 700;

}
.texto__descricao {
    color: var(--cor-texto);
    font-family: var(--fonte-primaria);
    font-size: 1em;
    font-weight: 400;
}
.lista__dados__titulo {
    color: var(--cor-titulo);
    font-family: var(--fonte-primaria);
    font-weight: 700;
    font-size: 1.3em;

}
.lista__dados__texto {
    color: var(--cor-texto);
    font-family: var(--fonte-secundaria);
    font-size: 0.8;
    font-weight: 100;
    text-transform: uppercase;
}